@model List<Contact>

<div class="container">
	<div class="row pt-4">
		<div class="col-6 ">
			<h3>Contact Table</h3>
		</div>
		<div class="col-6 text-end">
			<div class="row">
				<form method="post" enctype="multipart/form-data">	
					<input type="file" class="small" name="file"/>
					<input asp-controller="Home" asp-action="ReadCSV" type="submit" class="btn btn-outline-dark" value="Read CSV"/>
				</form>
			
				<a asp-controller="Home" asp-action="AddContact" class="btn btn-outline-dark"><i class="bi bi-plus-circle"></i> Add new contact</a>
			</div>
		</div>
	</div>
</div>
	
<table class="table-bordered text-center mx-auto m-4 fs-5" id="contactTable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Birthday</th>
			<th>Married</th>
			<th>Phone</th>
			<th>Salary</th>
			<th>Edit/Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model) {
			<tr>
				<td>@obj.Name</td>
				<td>@obj.Birthday.ToString("d")</td>
				@if (obj.Married)
				{
					<td>Married</td>
				}
				else
				{
					<td>Not married</td>
				}
				<td>@obj.Phone</td>
				<td>@obj.Salary $</td>
				<td>
					<div>
						<a asp-controller="Home" asp-action="EditContact" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
						<a asp-controller="Home" asp-action="RemoveContact" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-person-dash"></i></a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>

<script>
	let table = new DataTable('#contactTable');
</script>